@model GainzTrack.Web.ViewModels.UsersViewModels.ProfileViewModel

<div class="profile-header" style="box-shadow: 1px 5px 5px #@Model.Color;">
    <div class="profile-information">
        <div class="profile-avatar-holder"><img src="/@Model.Avatar" /></div>
        <div class="profile-name">
            <h2 id="get-profile-user">@Model.Username</h2>
            <h5><i>@Model.Title</i></h5>
        </div>
    </div>
    <nav class="profile-navigation">
        <a href="#" class="profile-navigation-item profile-navigation-item--active">Workouts</a>
        <a href="#" class="profile-navigation-item">Achievements</a>
    </nav>
</div>

<div class="profile-content-container">
    @foreach (var workout in Model.Workouts)
    {
        <div class="profile-workout-item">
            <h2 class="profile-workout-name">@workout.WorkoutName</h2>
            <hr />
            <div class="profile-workout-item-days-container">
                <span>@workout.Days Days</span>
            </div>
            <div class="profile-workout-footer">
                <div class="workout-creator-information-holder">
                    <div class="workout-creator-information-avatar">
                        <img src="/@workout.AvatarUrl" />
                        <div class="workout-user-information">
                            <span class="workout-user-information-username">@workout.Creator</span>
                            <span class="workout-user-information-title"><i>@workout.Title</i></span>
                        </div>
                    </div>
                    <hr />
                    <div class="workout-times-used-container">
                        <span class="workout-times-used-title">Times Used:</span>
                        <span class="workout-times-used-value">10</span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="mask" role="dialog"></div>
<div id="profile-workouts-modal" class="modal" role="alert">
    <button class="close" role="button">X</button>
    <div class="custom-modal-content"></div>
</div>

<script src="~/js/modal.js"></script>