@model GainzTrack.Web.ViewModels.AchievementsViewModels.AchievementViewModel[]
<div class="achievements-menu">
    <span><a asp-action="Index" asp-route-filterAction="all"  class="achievements-menu-item">All</a></span>
    <span><a asp-action="Index" asp-route-filterAction="easy" class="achievements-menu-item">Easy</a></span>
    <span><a asp-action="Index" asp-route-filterAction="intermediate" class="achievements-menu-item">Intermediate</a></span>
    <span><a asp-action="Index" asp-route-filterAction="hard" class="achievements-menu-item">Hard</a></span>
</div>
<div class="achievements-container">
    @foreach (var item in Model)
    {
        <div class="achievement-item">
            <div class="achievement-item-header">
                <span>@item.ExerciseName</span>
            </div>
            <div class="achievement-item-info">
                <div class="info-div">
                    <h4>Difficulty</h4>
                    <span>@item.Difficulty</span>
                </div>
                <div class="info-div">
                    <h4>@item.OverloadType</h4>
                    <span>@item.OverloadAmount</span>
                </div>
                <div class="info-div">
                    <h4>Points</h4>
                    <span>@item.Points</span>
                </div>
            </div>
            <div class="view-achievement-btn">Try it</div>
        </div>
    }

</div>

